################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/projeto-eventos/FileContentIndex
/Eventos.View/.vs/Eventos/FileContentIndex/01f8660a-9a62-4ad0-b4c3-35c3d1ba6567.vsidx
/Eventos.View/.vs/Eventos/FileContentIndex/463ef1d2-c6ac-41be-bb66-ccc5fd3cc604.vsidx
/Eventos.View/.vs/Eventos/FileContentIndex/688caf77-a0d6-4b38-8da6-b861f2e75b1e.vsidx
/Eventos.View/.vs/Eventos/FileContentIndex/7bbcf1fc-c867-4c38-90f8-b5e44212a8fc.vsidx
/Eventos.View/.vs/Eventos/FileContentIndex/c6a91aff-de4e-4c2c-a39f-d160df39407d.vsidx
/Eventos.View/.vs/Eventos/FileContentIndex/efecf8bc-887e-4048-85cb-3063cd573f40.vsidx
/Eventos.View/.vs/Eventos/FileContentIndex/0c8a02bb-8b05-4f5f-9df7-15d0eae90304.vsidx
/Eventos.View/.vs/Eventos/FileContentIndex/3174ff89-fce7-4ec0-a472-04875ec702a3.vsidx
/Eventos.View/.vs/Eventos/FileContentIndex/662929e9-4a20-4e3e-a6b5-cef6469ed5ab.vsidx
/Eventos.View/.vs/Eventos/FileContentIndex/6be005f5-3370-451d-ba76-1f0b97da94e1.vsidx
/Eventos.View/.vs/Eventos/FileContentIndex/950e54ec-2133-4ca7-865b-4e7ba54351b3.vsidx
/Eventos.View/.vs/Eventos/FileContentIndex/c351c54f-074a-4d28-9d51-e0f2d23174ea.vsidx
/Eventos.View/.vs/Eventos/FileContentIndex/f466676f-d832-4986-90f9-ab432059595e.vsidx
